@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

:root {
  --green: hsl(163, 72%, 41%);
  --red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(90deg, #fdc468 0%, #df4996 100%);
  --youtube: hsl(348, 97%, 39%);
}

.dark {
  --toggler-bg: linear-gradient(90deg, #378fe6 0%, #3eda82 100%);
  --bg: hsl(230, 17%, 14%);
  --bg-pattern: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --card-hover: #333a56;
  --text-p: hsl(228, 34%, 66%);
  --text-s: hsl(0, 0%, 100%);
}

.light {
  --toggler-bg: hsl(230, 22%, 74%);
  --bg: hsl(0, 0%, 100%);
  --bg-pattern: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --card-hover: #e1e3f0;
  --text-p: hsl(228, 12%, 44%);
  --text-s: hsl(230, 17%, 14%);
}

body {
  background: var(--bg);
  color: var(--text-s);
}
